body {
  font-family: Arial, Helvetica, sans-serif;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav {
  gap: 30px;
  height: 100px;
}
.nav-text {
  gap: 50px;
  font-weight: 600;
}
.nav-pic {
  gap: 30px;
}
.date-icon {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  text-align: end;
}
.money-icon {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  text-align: end;
}
.nav-pic-text {
  font-size: 12px;
  line-height: 20px;
}
.weather-icon {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  text-align: end;
}
.w-text {
  font-size: 18px;
  line-height: 30px;
  font-weight: 550;
  margin-left: 7px;
}
.green {
  color: #2adb00;
  font-size: 18px;

  border-right: 1px solid rgb(176, 176, 176);
  padding-right: 5px;
}
